.grid {
  background-image: url('../../../assets//im.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  @media screen and (min-width: 1400px) {
      background-position: top;
  }

  @media screen and (max-width: 1000px) {
    height: 100vmax;
  }

}
