/* You can add global styles to this file, and also import other style files */



.mt-10 {
  margin-top: 30vh;
}

.exact_route {

  button {
    background: #6372c3 !important;
  }

  :host ::ng-deep .p-dropdown {
    width: 50%;
  }

}
